#ShiinChat-container{
  height:600px;
  padding: 0 10rem;
  background-color: rgb(34, 137, 178);
}
#ShiinChat-swiperSlide-container{
    border: 2px solid #000;
}
#ShiinChat-swiperSlide{
    width:720px;;
    height:320px;
    margin: 0;
}
#ShiinChat-text{
    width:24rem;
}
.ShiinChat-carousel {
    background-size: cover;
    background-position: center;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 35px;
    color: #ffffff;
  }


    /* Extra Extra Large (xxl) */
@media (min-width: 1400px) {
  #ShiinChat-container{
    height:600px;
    padding: 0 10rem;
  }
  #ShiinChat-swiperSlide-container{
      border: 2px solid #000;
  }
  #ShiinChat-swiperSlide{
      width:720px;;
      height:320px;
      margin: 0;
  }
  #ShiinChat-text{
      width:24rem;
  }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 35px;
    }
}
/* Extra Large (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
#ShiinChat-container{
  height:600px;
  padding: 0 7rem;
}
#ShiinChat-swiperSlide-container{
    border: 2px solid #000;
}
#ShiinChat-swiperSlide{
    width:600px;;
    height:300px;
    margin: 0;
}
#ShiinChat-text{
    width:21rem;
}
#ShiinChat-text{
    width:21rem;
}
#ShiinChat-text > h3 {
    font-size:27px;
}
#ShiinChat-text > p, #ShiinChat-text > div {
  font-size: 14px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 35px;
}
}

/* Large (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
#ShiinChat-container{
  height:475px;
  padding: 0 4rem;
}
#ShiinChat-swiperSlide-container{
    border: 2px solid #000;
}
#ShiinChat-swiperSlide{
    width:575px;;
    height:275px;
    margin: 0;
}
#ShiinChat-text{
    margin-right:3rem;
}
#ShiinChat-text > h3 {
    font-size:24px;
}
#ShiinChat-text > p {
    height: 9rem;
    overflow-y:scroll;
}
#ShiinChat-text > p::-webkit-scrollbar-track{
  border: 0.5px solid #b6b6b6;
  background-color: rgb(34, 137, 178);
}
#ShiinChat-text > p::-webkit-scrollbar{
    width: 6px;
}
#ShiinChat-text > p::-webkit-scrollbar-thumb{
    background-color: #bcb9b9;
}
#ShiinChat-text > p, #ShiinChat-text > div {
  font-size: 13px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}
}

/* Medium (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
#ShiinChat-container{
  height:475px;
  padding: 0 2rem;
}
#ShiinChat-swiperSlide-container{
    border: 2px solid #000;
}
#ShiinChat-swiperSlide{
    width:425px;;
    height:275px;
    margin: 0;
}
#ShiinChat-text{
    margin-right:3rem;
}
#ShiinChat-text > h3 {
    font-size:24px;
}
#ShiinChat-text > p {
    height: 9rem;
    overflow-y:scroll;
}
#ShiinChat-text > p::-webkit-scrollbar-track{
  border: 0.5px solid #b6b6b6;
  background-color: rgb(34, 137, 178);
}
#ShiinChat-text > p::-webkit-scrollbar{
    width: 6px;
}
#ShiinChat-text > p::-webkit-scrollbar-thumb{
    background-color: #bcb9b9;
}
#ShiinChat-text > p, #ShiinChat-text > div {
  font-size: 13px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}
}

/* Small (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
#ShiinChat-container{
  height:475px;
  padding:1rem 2rem;
  flex-direction: column;
}
#ShiinChat-swiperSlide-container{
    border: 2px solid #000;
}
#ShiinChat-swiperSlide{
    width:500px;
    height:225px;
    margin: 0;
}
#ShiinChat-text{
    width:100%;
}
#ShiinChat-text > h3 {
    font-size:24px;
}
#ShiinChat-text > p {
    height: 5rem;
    overflow-y:scroll;
}
#ShiinChat-text > p::-webkit-scrollbar-track{
  border: 0.5px solid #b6b6b6;
  background-color: rgb(34, 137, 178);
}
#ShiinChat-text > p::-webkit-scrollbar{
    width: 6px;
}
#ShiinChat-text > p::-webkit-scrollbar-thumb{
    background-color: #bcb9b9;
}
#ShiinChat-text > p, #ShiinChat-text > div {
  font-size: 13px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}
}

/* Extra Small (xs) */
@media (min-width: 552px) and (max-width: 575.98px){
#ShiinChat-container{
  height:475px;
  padding:1rem 2rem;
  flex-direction: column;
}
#ShiinChat-swiperSlide-container{
    border: 2px solid #000;
}
#ShiinChat-swiperSlide{
    width:500px;
    height:225px;
    margin: 0;
}
#ShiinChat-text{
    width:100%;
}
#ShiinChat-text > h3 {
    font-size:24px;
}
#ShiinChat-text > p {
    height: 5rem;
    overflow-y:scroll;
}
#ShiinChat-text > p::-webkit-scrollbar-track{
  border: 0.5px solid #b6b6b6;
  background-color: rgb(34, 137, 178);
}
#ShiinChat-text > p::-webkit-scrollbar{
    width: 6px;
}
#ShiinChat-text > p::-webkit-scrollbar-thumb{
    background-color: #bcb9b9;
}
#ShiinChat-text > p, #ShiinChat-text > div {
  font-size: 13px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}
}

@media (max-width: 551.98px) {
#ShiinChat-container{
  height:475px;
  padding:1rem 2rem;
  flex-direction: column;
}
#ShiinChat-swiperSlide-container{
    border: 2px solid #000;
}
#ShiinChat-swiperSlide{
    width:75vw;
    height:225px;
    margin: 0;
}
#ShiinChat-text{
    width:100%;
}
#ShiinChat-text > h3 {
    font-size:24px;
}
#ShiinChat-text > p {
    height: 5rem;
    overflow-y:scroll;
}
#ShiinChat-text > p::-webkit-scrollbar-track{
  border: 0.5px solid #b6b6b6;
  background-color: rgb(34, 137, 178);
}
#ShiinChat-text > p::-webkit-scrollbar{
    width: 6px;
}
#ShiinChat-text > p::-webkit-scrollbar-thumb{
    background-color: #bcb9b9;
}
#ShiinChat-text > p, #ShiinChat-text > div {
  font-size: 13px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}
}
