#KnowledgeAndSkills-container{
    width:70vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#KnowledgeAndSkills-container p{
    line-height: 1.7rem;
    width: 30rem;
}
#KnowledgeAndSkills-container table{
    height: 50vh;
    width: 15rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
#KnowledgeAndSkills-container td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
#KnowledgeAndSkills-container tr:nth-child(even) {
    background-color: #29363a;
}
.KandS-table-images{
    height: 50px;
}
