#TitanMinds-container{
  height:600px;
  padding: 0 10rem;
}
#TitanMinds-swiperSlide-container{
  border: 2px solid #dedddd;
  z-index:2;
}
#TitanMinds-swiperSlide{
    width:720px;;
    height:320px;
    margin: 0;
}
#TitanMinds-text{
    width:24rem;
}
.titanMinds-carousel {
    background-size: cover;
    background-position: center;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 35px;
    color: #ffffff;
  }
