#Aspire-container{
    width:100%;
}
#Aspire-container p{
    line-height: 1.7rem;
}

#Aspire-container{
    display:flex;
    align-items: center;
    position:relative;
    background-size: cover;
}
#Aspire-container > div{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align:left;
}
#Aspire-container > div h3{
    margin-bottom:20px;
}

    /* Extra Small (xs) */
@media (max-width: 575.98px) {
    #Aspire-container{
        height:35vh
    }
    #Aspire-container > div{
        height:30vh;
        margin: auto 2rem
    }
    #Aspire-container > div p{
        line-height:30px;
        font-size:14px;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    #Aspire-container > div p::-webkit-scrollbar{
        display:none;
    }
    #Aspire-container > div h3 {
        font-size:19px;
    }
  }

  /* Small (sm) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    #Aspire-container{
        height:35vh
    }
    #Aspire-container > div{
        height:30vh;
        margin: auto 2rem
    }
    #Aspire-container > div p{
        line-height:30px;
        font-size:14px;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    #Aspire-container > div p::-webkit-scrollbar{
        display:none;
    }
    #Aspire-container > div h3 {
        font-size:19px;
    }
  }

  /* Medium (md) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    #Aspire-container{
        height:40vh
    }
    #Aspire-container > div{
        height:35vh;
        margin: auto 2rem
    }
    #Aspire-container > div p{
        line-height:30px;
        font-size:14px;
    }
    #Aspire-container > div p::-webkit-scrollbar{
        display:none;
    }
    #Aspire-container > div h3 {
        font-size:19px;
    }
  }

  /* Large (lg) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #Aspire-container{
        height:60vh
    }
    #Aspire-container > div{
        width:50vh;
        margin:2rem 4rem;
        height:50vh;
    }
    #Aspire-container > div p{
        line-height:25px;
        font-size:15px;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    #Aspire-container > div p::-webkit-scrollbar{
        display:none;
    }
    #Aspire-container > div h3 {
        font-size:20px;
    }
  }

  /* Extra Large (xl) */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    #Aspire-container > div p{
        line-height: 30px;
    }
    #Aspire-container > div{
        width:50vh;
        margin:5rem 6rem;
    }
  }

  /* Extra Extra Large (xxl) */
  @media (min-width: 1400px) {
    #Aspire-container{
        height:100vh;
    }
    #Aspire-container > div p{
        line-height: 36px;
    }
    #Aspire-container > div{
        width:80vh;
        margin:5rem 12rem;
    }
  }
